@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
}
:root {
  --light-color: #fff;
  --bg-color: #8467c6;
  --dark-color: #333;
}
p {
  margin: 0 !important;
  color: var(--dark-color) !important;
}
a {
  color: var(--dark-color);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 400 !important;
  line-height: 1.2 !important ;
  color: var(--dark-color);
  margin-bottom: 0 !important;
}
.btn:focus {
  box-shadow: none !important;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.header-wrapper {
  border-bottom: 1px solid #c2e4f6;
}
.header-wrapper .logo {
  text-align: center;
  padding: 5px;
  background-color: var(--bg-color);
  border-bottom: 1px solid #c2e4f6;
  color: var(--light-color);
  font-weight: 500;
}
.header-wrapper .header {
  padding: 0;
}
.header .header-nav {
  display: flex;
  margin: 0;
  list-style: none;
}
.header .header-nav .nav-item .nav-link {
  padding: 4px 12px;
  margin: 0;
  border-radius: 0;
  background-color: var(--light-color);
  border: 1px solid #c2e4f6;
  text-wrap: nowrap;
}
.header .header-nav {
  background-color: #c2e4f6;
  border: 1px solid #c2e4f6;
  padding: 1px 4px 0;
  gap: 2px;
}
.header .header-nav .nav-item .nav-link {
  color: var(--dark-color);
  transition: all 0.2s;
}
.header .header-nav .nav-item .nav-link i {
  font-size: 11px;
  margin-right: 3px;
}
.header .header-nav .nav-item .nav-link:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 1px 0px 1px;
  background-color: var(--bg-color);
  color: var(--light-color);
}
.header .header-nav .nav-item .nav-link.active {
  box-shadow: rgba(0, 0, 0, 0.16) 1px 0px 1px;
  background-color: var(--bg-color);
  color: var(--light-color);
}
.main-wrapper .page-content {
  background-color: #c2e4f6;
  padding: 0 4px 1.5px 4px;
  border: 1px solid #c2e4f6;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main-wrapper .page-content .content-card {
  padding: 10px;
  border-radius: 0;
  border: 1px solid #c2e4f6;
  flex: 1;
  overflow: hidden;
}
.main-wrapper .page-content .content-card .content {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}
.main-wrapper .page-content .content-card .form-wrapper {
  padding: 7px;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
  border-color: #c2e4f6;
}
.form-control,
.form-select {
  border-radius: 0 !important;
  font-size: 13.5px !important;
  line-height: 1.6 !important;
  color: var(--dark-color) !important;
}
.form-label {
  margin-bottom: 4px !important;
}
.main-wrapper .footer {
  text-align: center;
  padding: 4px;
  border-top: 1px solid #c2e4f6;
  background-color: var(--light-color);
}
.main-wrapper .page-content .title {
  padding: 5px 7px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: var(--light-color);
  border-bottom: 1.5px solid var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.main-wrapper .page-content .title h6 {
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 600 !important;
}
.main-wrapper .page-content .title .btn {
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 0;
  background-color: var(--bg-color);
  color: var(--light-color);
}
.btn:active {
  transform: scale(0.97);
}
.login-wrapper {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  background: url(../img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.auth-section {
  position: relative;
}
.auth-section .auth-card {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0;
  text-align: center;
}
.auth-section .auth-card .login-form {
  margin-top: 40px;
}
.auth-section .auth-card h4 {
  text-align: center;
  font-weight: 400;
}
.auth-section .auth-card .form-row {
  margin: 20px 0;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
}
.auth-section .auth-card .form-row .form-control {
  padding: 10px;
  font-weight: 400;
}
.auth-section .auth-card .form-row .btn {
  background-color: #5b8eda;
  color: var(--light-color);
  width: 100%;
  border-radius: 0;
  padding: 10px;
}
.table {
  text-align: center;
}
.pagination .page-link {
  padding: 1px 7px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  border-radius: 0 !important;
}
.pagination .page-link:hover,
.pagination .page-link:focus {
  border-color: #5b8eda;
  box-shadow: none !important;
}
.content-card .title .stats {
  color: #000;
  background-color: var(--light-color);
  padding: 0;
}
.content-card .title .stats span{
  padding: 0 10px;
}
.content-card .title .stats:first-child {
  margin-right: 5px;
  border: 1px solid var(--bg-color);
}
.content-card .title .stats:nth-child(2) {
  margin-right: 5px;
  border: 1px solid #018749;
}
.content-card .title .stats:last-child {
  margin-right: 0;
  border: 1px solid #DE3163;
}
.content-card .title .stats .booked {
  background-color: #018749;
  border-color: #018749;
  color: var(--light-color);
  box-shadow: none;
}
.content-card .title .stats .vaccant {
  background-color: #DE3163;
  border-color: #DE3163;
  color: var(--light-color);
  box-shadow: none;
}
.room_entry {
  position: relative;
  width: 100%;
  font-size: 17px !important;
  padding: 10px !important;
  background-color: #DE3163 !important;
  color: var(--light-color) !important;
  border-radius: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.room_entry p {
  color: var(--light-color) !important;
  font-weight: 600;
  font-size: 18px !important;
}
.room_entry.booked {
  background-color: #018749 !important;
  color: var(--light-color) !important;
}
.room_entry.booked p{
  color: var(--light-color) !important;
  font-size: 18px !important;
}
::-webkit-scrollbar {
  width: 5px;
  display: none;
}
::-webkit-scrollbar-track {
  background: var(--light-color);
}
::-webkit-scrollbar-thumb {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
}
.room_tabs {
  margin-bottom: 10px !important;
}
@media (max-width: 991px) {
  .header .header-nav {
    overflow-x: scroll;
  }
}
